.container {
    width: 75%;
    margin: 0 auto;
    margin-top: 100px;
    background-color: rgba(224, 223, 188, 0.30);
    border-radius: 10px;
    padding: 20px;
}
.form-field {
    padding-bottom: 20px;
}
.form-field label {
    display: block;
}
.form-field span {
    padding-left: 10px;
    display: none;
}
input.error + span {
    color: red;
    font-weight: bolder;
    display: inline;
}
p.validation-result {
    text-align: center;
    color: rgba(15, 41, 119, 0.70);
    font-weight: bolder;
    margin: 0 !important;
    padding-top: 10px;
    font-size: 120%;
}
.text-center {
    text-align: center;
    margin: 0 0 15px 0;
}
.input-f {
    /*display: inline-block;*/
    /*width: 30%;*/
    height: 24px;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.input-f:focus {
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn:focus {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
    text-decoration: none;
    outline-color: inherit;
}
.btn:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}
.btn:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}
.btn:active:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.wrapper ul li {
    list-style: none;
}
.wrapper ul {
    margin: 0;
    padding: 0;
}
.wrapper {
    width: 40%;
    margin: 0 auto;
}
.selected-li {
    text-decoration: line-through;
    color: #cb4e2d;
}
.chk-li {
    margin-right: 10px;
    margin-bottom: 7px;
}
.hr {
    margin-bottom: 0;
}
.summary-info {
    display: inline-block;
    margin-left: 30px;
}
input[type=checkbox].chk-li {
    cursor: default;
}
.no-display {
    display: none;
}
li.filtered {
    margin: 4px 0;
}
.filtered span{
    padding: 2px 4px;
    border: 2px solid green;
}
.over {
    border: 1px dashed dodgerblue;
}